hcloud_token = "replace-me"

cluster_name         = "hcloud-talos-poc"
location_name        = "fsn1"
talos_version        = "v1.12.2"
kubernetes_version   = "1.35.0"
cilium_version       = "1.18.5"

# Recommended for external Argo CD:
# cluster_api_host         = "kube.example.com"
# kubeconfig_endpoint_mode = "public_endpoint"
